/* Custom CSS Spotify Web */

/* Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  height: 100vh;
}

/* Main */
main {
  height: calc(100% - 90px);
  width: 100%;
  overflow: hidden;
}
.wrapper-up {
  width: 100%;
  height: 100%;
}
.wrapper-up:after {
  content: "";
  display: table;
  clear: both;
}

/* Sezione Frame */
#frame {
  background-color: black;
  width: 230px;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-left: 20px;
  justify-content: flex-start;
}
#frame a {
  color: #6d6d6d;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
#frame a:hover {
  color: white;
  text-decoration: none;
}
#frame div ul li {
  margin: 15px 0;
}
.logo, .playlist, .owner {
  margin: 10px 0;
}
.logo img {
  width: 150px;
  height: auto;
}
.navigation ul li a {
  display: flex;
  align-items: center;
}
.navigation ul li a span {
  padding-top: 2px;
  padding-left: 4px;
}
.navigation ul li img {
  width: 20px;
  height: auto;
}
.navigation {
  position: relative;
}
.owner-info a img {
  width: 20px;
  height: auto;
  border: solid 1px white;
  border-radius: 50%;
  background-color: gray;
}
.sect-title {
  color: white;
  font-size: 12px;
  font-weight: 800;
}
.square-add {
  display: inline-block;
  background-color: #6d6d6d;
  font-size: 24px;
  color: black;
  width: 36px;
  height: 34px;
  text-align: center;
  border-radius: 2px;
}
.playlist ul li:first-child:hover .square-add {
  background-color: white;
}
.playlist {
  overflow-y: auto;
}
.playlist ul li a {
  display: flex;
  align-items: center;
}
.playlist ul li a span {
  padding-left: 7px;
}
.owner {
  margin-top: auto;
}
.owner-info a {
  display: flex;
  align-items: center;
}
.owner-info a span {
  padding-left: 7px;
}
.marker {
  height: 24px;
  width: 3px;
  background-color: lightgreen;
  position: absolute;
  left: -20px;
  display: none;
}
.navigation ul li:hover .marker {
  display: block;
}
.navigation ul li:first-child .marker {
  display: block;
}
.navigation ul li:first-child span {
    color: white !important;
}
.install-app {
  color: white;
}

/* Sezione Content */
#content {
  background: green;
  width: calc(100% - 230px);
  height: 100%;
  float: left;
}

/* Footer */
footer {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 900;
  background-color: red;
}

/* Sezione Player */
#player {
  background-color: darkgray;
}
