/* Custom CSS Spotify Web */

/* Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  height: 100vh;
}

/* Main */
main {
  height: calc(100% - 90px);
  width: 100%;
  overflow: hidden;
}
.wrapper-up {
  width: 100%;
  height: 100%;
}
.wrapper-up:after {
  content: "";
  display: table;
  clear: both;
}

/* Sezione Frame */
#frame {
  background-color: black;
  width: 230px;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-left: 20px;
  justify-content: flex-start;
}
#frame a {
  color: #6d6d6d;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
}
#frame a:hover {
  color: white;
  text-decoration: none;
}
#frame div ul li {
  margin: 15px 0;
}
.logo-small {
  display: none;
}
.logo {
  z-index: 999;
}
.logo, .playlist, .owner {
  margin: 10px 0;
}
.logo img {
  width: 150px;
  height: auto;
}
.navigation ul li a {
  display: flex;
  align-items: center;
}
.navigation ul li a span {
  padding-top: 2px;
  padding-left: 4px;
}
.navigation ul li img {
  width: 20px;
  height: auto;
}
.navigation {
  position: relative;
}
.owner-info a img {
  width: 20px;
  height: auto;
  border: solid 1px white;
  border-radius: 50%;
  background-color: gray;
}
.sect-title {
  color: white;
  font-size: 12px;
  font-weight: 800;
}
.square-add {
  display: inline-block;
  background-color: #6d6d6d;
  font-size: 24px;
  color: black;
  width: 36px;
  height: 34px;
  text-align: center;
  border-radius: 2px;
}
.playlist ul li:first-child:hover .square-add {
  background-color: white;
}
.playlist {
  overflow-y: auto;
  overflow-x: hidden;
}
.playlist ul li a {
  display: flex;
  align-items: center;
}
.playlist ul li a span {
  padding-left: 7px;
}
.owner {
  margin-top: auto;
}
.owner-info a {
  display: flex;
  align-items: center;
}
.owner-info a span {
  padding-left: 7px;
}
.marker {
  height: 24px;
  width: 3px;
  background-color: lightgreen;
  position: absolute;
  left: -20px;
  display: none;
}
.navigation ul li:hover .marker {
  display: block;
}
.navigation ul li:first-child .marker {
  display: block;
}
.navigation ul li:first-child span {
    color: white !important;
}
.install-app {
  color: white;
}
.install-app a i {
  margin-right: 3px;
}
.separator {
  width: 80%;
  height: 1px;
  background-color: #6d6d6d;
  margin: 8px 0;
}

/* Sezione Content */
#content {
  background: #141921;
  width: calc(100% - 230px);
  height: 100%;
  float: left;
  padding: 100px 15px;
  overflow-y: scroll;
}
.upgrade {
  height: 70px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}
.button-upg {
  font-size: 14px;
  height: 40px;
  width: 180px;
  border: 2px solid white;
  border-radius: 14px;
  color: white;
  font-weight: 600;
  margin-right: 15px;
}
.button-upg a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-upg:hover {
  transform: scale(1.05);
}
.section-title {
  color: white;
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  padding-left: 10px;
  margin: 10px 0;
}
.alone {
  margin-bottom: 25px;
}
.section-subtitle {
  color: #6d6d6d;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 25px;
}
.box-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.box-items > div {
  height: 240px;
  width: 150px;
  margin: 0 10px;
}
.box-items a img {
  width: 150px;
  height: auto;
}
.album-title {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
}
.album-artist {
  color: #6d6d6d;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
}
.album-pic {
  position: relative;
}
.rounded {
  border-radius: 50%;
}
.album-title a, .album-artist a {
  text-decoration: none;
  color: inherit;
}
.album-item:hover .album-pic a img {
  filter: brightness(0.5);
}
.album-pic i {
  color: white;
  font-size: 36px;
  display: none;
}
.album-item:hover .album-pic i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#content nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  color: #6d6d6d;
  font-size: 11px;
}
#content nav ul li a {
  text-decoration: none;
  color: inherit;
}
#content nav ul li {
  margin: 0 10px;
  position: relative;
  height: 20px;
}
.marker-menu {
  height: 3px;
  width: 24px;
  background-color: lightgreen;
  margin: 0 auto;
  display: none;
  margin-top: 2px;
}
.alwayson {
  display: block;
}
#content nav ul li:hover .marker-menu {
  display: block;
}

/* Footer */
footer {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 900;
}

/* Sezione Player */
#player {
  background-color: #282828;
  display: flex;
  height: 100%;
  width: 100%;
  border-top: solid 1px #666;
  align-items: center;
  justify-content: space-between;
}
.track {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cover, .track-info {
  margin-left: 5%;
}
.track-buttons {
  margin-left: 10%;
}
.console {
  width: 35%;
}
.volume {
  width: 230px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buttons {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar {
  width: 100%;
  height: 40%;
}
.cover img {
  width: 50px;
  height: auto;
}
.song-name {
  font-size: 14px;
  color: white;
  font-weight: 600;
  margin-bottom: 1px;
}
.song-artist {
  color: #6d6d6d;
  font-size: 12px;
  font-weight: 600;
}
.song-artist:hover {
  text-decoration: underline;
  color: white;
}
.track-buttons a i {
  color: #6d6d6d;
}
.track-buttons a i:hover {
  color: white;
}
.track-buttons i:first-child {
  margin-right: 7px;
}
.track-info a {
  text-decoration: none;
  color: inherit;
}
.bigger-butt {
  font-size: 28px;
}
.bigger-butt:hover {
  transform: scale(1.2);
}
.buttons a i {
  color: white;
  margin: 0 13px;
}
.middle-bar {
  height: 4px;
  width: 75%;
  border-radius: 2px;
  background-color: #6d6d6d;
  position: relative;
}
.middle-bar:hover .bar-elapsed {
  background-color: lightgreen;
}
.middle-bar a {
  width: 100%;
  height: 100%;
  display: block;
}
.bar-elapsed {
  position: absolute;
  left: -4px;
  width: 15%;
  background-color: #c7c7c7;
  height: 4px;
  border-radius: 2px;
  position: relative;
}
.bar-elapsed i {
  font-size: 13px;
  color: white;
  display: none;
  position: absolute;
  right: -6px;
  top: -4px;
}
.middle-bar:hover .bar-elapsed i {
  display: block;
}
.progress-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 7px 0;
}
.time-start, .time-end {
  font-size: 10px;
  color: white;
  font-weight: 800;
}
.volume a {
  text-decoration: none;
  color: white;
  margin: 0 5px;
}
.volume > div {
  margin: 0 5px;
}
.volume a i {
  font-size: 14px;
}
.resized {
  width: 50%;
}

/* Media Query for XS screens */

@media all and (max-width: 599px) {
  .logo, .menu-link, .playlist, .install-text, .username {
    display: none;
  }
  .logo-small {
    display: block;
    width: 20px;
    height: auto;
    z-index: 999;
    margin-top: 10px;
  }
  .homeicon {
    z-index: 999;
  }
  .fa-arrow-circle-down {
    padding-left: 3px;
  }
  .separator {
    background-color: black;
  }
  #frame {
    width: 50px;
    padding-left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  #content {
    width: calc(100% - 50px);
  }
  .middle-bar {
    width: 60%;
  }
}
@media all and (max-width: 535px) {
  .buttons a i {
    margin: 0 5px;
  }
}
@media all and (max-width: 450px) {
  .resized {
    width: 30%;
  }
  .volume {
    width: 160px;
  }
}
@media all and (max-width: 385px) {
  .fa-list, .fa-desktop, .fa-heart, .fa-folder {
    display: none;
  }
  .resized {
    width: 50%;
    position: relative;
    right: 10px;
  }
  .fa-volume-up {
    position: relative;
    right: 10px;
  }
  .middle-bar {
    width: 50%;
  }
}
@media all and (max-width: 320px) {
  .buttons a i {
    margin: 0 3px;
  }
}
@media all and (max-width: 300px) {
  .buttons a i {
    margin: 0 1px;
  }
}
@media all and (max-width: 285px) {
  .buttons a i {
    margin: 0 0;
  }
}
